:global(.dark) {
  color-scheme: dark;
}

:root {
  --base-color: #131a20;
  --primary-color: #0ac2c2;
  --primary-hover-color: #8ce1f2;
  --success-color: #63E2B7;
  --error-color: #E88080;
  --warn-color: #F2C97D;
  --bg-color-dark: #d5dddd;
  --bg-color: #f0f4f4;
}

.theme-dark, .dark {
  --base-color: #f4f6f6;
  --primary-color: #3df5f5;
  --primary-hover-color: #8ce1f2;
  --success-color: #63E2B7;
  --error-color: #E88080;
  --warn-color: #F2C97D;
  --bg-color-dark: #131a20;
  --bg-color: #212d36;
}

body {
  @apply bg-[var(--bg-color)] text-[var(--base-color)] font-body;
}

a {
  text-decoration: none;
}
a:not([aria-disabled]):hover,
a:not([aria-disabled]):active {
  color: var(--primary-hover-color);
  cursor: pointer;
}

section {
  @apply flex flex-col items-center justify-start gap-4;
  @apply py-4 mx-auto;
}

.highlight {
  color: var(--primary-color);
}

.highlight-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[var(--primary-color)] to-[var(--primary-hover-color)];
}

.page-title {
  @apply mb-4 mt-4 lg:mt-8 xl:mt-12;
  @apply w-full text-center truncate;
}

.title-base {
  @apply font-title italic tracking-wide;
}

.card-default {
  @apply !rounded-xl !hover:border-[var(--primary-color)] w-full;
}
