---
import ThemeToggle from "@components/widgets/ThemeToggle.vue";
---

<header class="container mx-a p-4">
  <div class="w-full flex justify-end gap-2">
    <ThemeToggle client:load />
  </div>
</header>
