---
// import SectionWrapper from "@components/partials/SectionWrapper.astro";
---

<div class="mx-a max-w-md flex flex-col justify-center gap-8 md:gap-12">
  <h2 class="title-base highlight italic text-5xl md:text-6xl">TokenList</h2>
  <p class="italic text-2xl font-semibold text-wrap">
    <span class="font-black text-[var(--primary-color)]">100%</span>
    On-chain Permissionless Fungible / Non-Fungible Token List
    <span class="font-black text-[var(--success-color)]">
      #onFlow Blockchain
    </span>
  </p>
  <div class="text-xs font-semibold text-gray-400/80">
    <p>
      <span class="i-carbon:warning w-4 h-4"></span>
      TokenList will generate JSON files based on Uniswap TokenList Standard for
      registered Tokens. After registration, it allows your FT/NFT to be appeared
      on
      <a href="https://wallet.flow.com/" target="_blank" class="highlight">
        Flow Wallet
      </a>,
      <a href="https://app.increment.fi/" target="_blank" class="highlight">
        IncrementFi
      </a>, or other ecosystem projects.
    </p>
  </div>
</div>
