---
import SectionWrapper from "@components/partials/SectionWrapper.astro";
---

<SectionWrapper>
  <!-- Use tailwinds  -->
  <div class="mx-a max-w-sm flex flex-col justify-center gap-8 md:gap-12">
    <h2 class="title-base highlight italic text-5xl md:text-6xl">TokenList</h2>
    <p class="italic text-2xl font-semibold text-wrap">
      <span class="font-black text-[var(--success-color)]">100%</span>
      On-chain Permissionless Fungible Token List
      <span class="font-black text-[var(--success-color)]">#onFlow</span>
    </p>
  </div>
</SectionWrapper>
